.containerrr {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer }

    button[type="submit"]:hover {
      background-color: #3e8e41;
    }
    
    #results {
      margin-top: 20px;
      text-align: center;
    }